django
PIL
MySQL-python
south
-e hg+hg://bitbucket.org/smileychris/django-countries#egg=django-countries
-e git+git://github.com/ojii/django-classy-tags.git#egg=django-classy-tags
sorl-thumbnail==11.01
django-uni-form
django-devserver
django-autofixture
django-cms
