django
PIL
MySQL-python
south
-e git+https://github.com/zodman/cmsplugin_facebook.git#egg=cmsplugin_facebook
-e hg+https://bitbucket.org/smileychris/django-countries#egg=django-countries
classytags
sorl-thumbnail==10.12.1
