{% extends "base.html"%}
{% load i18n cms_tags %}


{% block extrahead %}

<!--accordion menu -->
<link rel="stylesheet" href="{{MEDIA_URL}}js/accordion/accordion.css" />

	<script type="text/javascript" src="{{MEDIA_URL}}js/accordion/chili-1.7.pack.js"></script>
	<script type="text/javascript" src="{{MEDIA_URL}}js/accordion/jquery.easing.js"></script>
	<script type="text/javascript" src="{{MEDIA_URL}}js/accordion/jquery.dimensions.js"></script>
	<script type="text/javascript" src="{{MEDIA_URL}}js/accordion/jquery.accordion.js"></script>

	<script type="text/javascript">
	jQuery().ready(function(){
	
		// simple accordion with special markup
		jQuery('#navigation').accordion({
			active: false,
			header: '.head',
			navigation: true,
			event: 'click',
			fillSpace: true,
			animated: 'easeslide'
		});
	});
	</script>

{% endblock %}

{% block content %}
<div id="contentContainer">
	{% block menu_casos %}
	<div class="leftColCasos">
	<div id="menuCasosContainer">
		<nav id="navigationContainer">
			<ul id="navigation">
				<li>
				{% load portafolio_menu %}
				{% portafolio_menu_clientes%}
				<a class="head" href="?p=1.1.1">Chevrolet</a>
					<ul>
						<li><a href="casos.html?p=1.1.1.1">Proyecto1</a></li>
						<li><a href="?p=1.1.1.2">Proyecto2</a></li>
						<li><a href="?p=1.1.1.3">Proyecto3</a></li>
						<li><a href="?p=1.1.1.4">Proyecto4</a></li>
						<li><a href="?p=1.1.1.5">Proyecto5</a></li>
						<li><a href="?p=1.1.1.6">Proyecto6</a></li>
						<li><a href="?p=1.1.1.7">Proyecto7</a></li>
					</ul> 
				</li>
				<li>
					<a class="headSinSubmenu" href="?p=1.1.2">Teletón</a>
				</li>
			</ul>
		</nav><!--navigationContainer  -->
</div><!--menuCasosContainer  -->
</div><!--leftColCasos  -->
	{% endblock %}
</div><!--contentContainer  -->
{% endblock %}
