	<div class="leftColCasos">
	<div id="menuCasosContainer">
		<nav id="navigationContainer">
			<ul id="navigation">
				{% for c  in portafolio_clients %}			
					<li>
						<a class="head" href="#">{{c.name}}</a>
						<ul>
							{% for p in c.proyects.all %}
							<li><a class="{% if p == actual%}current{% endif %}" href="{% url portafolio-proyect p.slug %}">{{p.name}}</a></li>
							{% endfor%}
						</ul> 
					</li>
				{% endfor %}
			</ul>
		</nav><!--navigationContainer  -->
	</div><!--menuCasosContainer  -->
	</div><!--leftColCasos  -->

