<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Interalia</title>

<!-- estilos sitio -->
    <link rel="stylesheet" type="text/css" href="css/flexible.css" media="all" />
     <link rel="stylesheet" type="text/css" href="css/accordion.css" media="all" />
     <!--320  mobile-->
    <link rel="alternate stylesheet" type="text/css" href="css/320.css" title="320"/>
    
 
<!-- ajuste  columnas -->
  <script type="text/javascript" src="scripts/event_listeners.js"></script>
  <script type="text/javascript" src="scripts/resolution.js"></script>
    
<!-- Carousel -->

	<!-- jQuery library -->
<script type="text/javascript" src="scripts/jquery-1.4.3.min.js"></script>
 
	<script type="text/javascript" src="scripts/carousel/jquery.jcarousel.pack.js"></script>
    <script type="text/javascript" src="scripts/carousel/jquery.jcarousel.js"></script>
    
	<!-- jCarousel core stylesheet -->
	<link rel="stylesheet" type="text/css" href="scripts/carousel/jquery.jcarousel.css" />
	<link rel="stylesheet" type="text/css" href="scripts/carousel/skin_casos.css" />
    <!-- diferencias para explorer y explorer6 -->
     <!--[if IE ]> 
            <style>
                @import "css/ie.css";
            </style>
        <![endif]-->
        <!--[if lt IE 7]> 
            <style>
                @import "css/ie6.css";
            </style>
        <![endif]-->
        
        <!--[if gt IE 7]>
             <style>
                @import "css/ie8.css";
            </style>
        <![endif]-->
    
    
 <script type="text/javascript">

$(document).ready(function() {
    $('#mycarousel').jcarousel();
	
});

</script> 

<!--accordion menu -->
<link rel="stylesheet" href="scripts/accordion/accordion.css" />

	<script type="text/javascript" src="scripts/accordion/chili-1.7.pack.js"></script>
	<script type="text/javascript" src="scripts/accordion/jquery.easing.js"></script>
	<script type="text/javascript" src="scripts/accordion/jquery.dimensions.js"></script>
	<script type="text/javascript" src="scripts/accordion/jquery.accordion.js"></script>

	<script type="text/javascript">
	jQuery().ready(function(){
	
		// simple accordion with special markup
		jQuery('#navigation').accordion({
			active: false,
			header: '.head',
			navigation: true,
			event: 'click',
			fillSpace: true,
			animated: 'easeslide'
		});
	});
	</script>


    <link rel="SHORTCUT ICON" href="images/favicon.ico"/>
    
    <meta name="keywords" content="Interalia">
	<meta name="description" content="Interalia">

	<meta name="robots" content="index,follow">
	<meta name="ROBOTS" content="all">
	<meta name="Googlebot" content="all">
	<meta name="Author" content=" Desarrollado por Interalia Digital">

</head>
<body>
<!--<center> -->
<div  id=CASOS>

<!--header -->
<header id="headerContainer">
 <div class="leftCol">
  <!--  <div class="leftContent"> -->
      <div id="logoInteralia"><a href="index.html"  title="Interalia :: Soluciones interactivas"></a></div>
      <!--logoInteralia -->
      <div id="navContainer">
        <div id="mainav">
        <nav>
          <ul>
            <li id="mainav1"><a href="index.html" title="Inicio">Inicio</a></li>
            <li id="mainav2"><a href="casos.html" title="Casos">Casos</a></li>
            <li id="mainav3"><a href="soluciones.html" title="Soluciones">Soluciones</a></li>
            <li id="mainav4"><a href="contacto.html" title="Contacto">Contacto</a></li>
           <li id="mainav5"><a href="talento.html" title="Tenemos y queremos a los mejores">Búsqueda de talento</a></li>
          </ul>
          </nav>
        </div>
        <!--mainav -->
      </div>
      <!--navContainer -->
  <!--  </div> -->
    <!--leftContent -->
  </div>
  <!--leftCol -->
  <div class="rightCol">
    <div  class="rightContent">
      <div id="menuExtras">
<script src="http://connect.facebook.net/es_LA/all.js#xfbml=1"></script><fb:like href="facebook.com/interalia.net" show_faces="false" id="megusta" width="120" layout="button_count" ></fb:like> 
      </div>
      <!--menuExtras -->
    </div>
    <!--rightContent -->
  </div>
  <!--ightCol -->
</header>
<!--headerContainer -->


<!--contenido -->

<div id="contentContainer">


<div class="leftColCasos">
<div id="menuCasosContainer">


<nav id="navigationContainer">
<ul id="navigation">
				<li>
					<a class="head" href="?p=1.1.1">Chevrolet</a>
					<ul>
						<li><a href="casos.html?p=1.1.1.1">Proyecto1</a></li>
						<li><a href="?p=1.1.1.2">Proyecto2</a></li>
						<li><a href="?p=1.1.1.3">Proyecto3</a></li>
						<li><a href="?p=1.1.1.4">Proyecto4</a></li>
						<li><a href="?p=1.1.1.5">Proyecto5</a></li>
                        <li><a href="?p=1.1.1.6">Proyecto6</a></li>
                        <li><a href="?p=1.1.1.7">Proyecto7</a></li>
					</ul> 
				</li>
				<li>
					<a class="headSinSubmenu" href="?p=1.1.2">Teletón</a>
				</li>
				<li>
					<a class="head" href="?p=1.1.3">Coca-Cola</a>
					<ul>
						<li><a href="?p=1.1.3.1">Proyecto1</a></li>
						<li><a href="?p=1.1.3.2">Proyecto2</a></li>
						<li><a href="?p=1.1.3.3">Proyecto3</a></li>
						<li><a href="?p=1.1.3.4">Proyecto4</a></li>
						<li><a href="?p=1.1.3.5">Proyecto5</a></li>
					</ul> 
				</li>
                
                <li>
					<a class="head" href="?p=1.1.4">Fanta</a>
					<ul>
						<li><a href="casos.html?p=1.1.4.1">Proyecto1</a></li>
						<li><a href="?p=1.1.4.2">Proyecto2</a></li>
						<li><a href="?p=1.1.4.3">Proyecto3</a></li>
					</ul> 
				</li>
			</ul>
</nav><!--navigationContainer  -->
</div><!--menuCasosContainer  -->
</div><!--leftColCasos  -->



<div class="rightColCasos">
<div class="rightColCasosContainer">


<section id="carrouselCasosContainer">

<div id="mycarousel" class="jcarousel-skin-ie7Casos"> 
<ul id="mycarousel">
<li><a href="#"><img src="proyectos/teleton/big01.jpg" width="360" height="194" alt="" border="0" /></a></li>
<li><a href="#"><img src="proyectos/teleton/big01.jpg" width="360" height="194" alt="" border="0" /></a></li>
<li><a href="#"><img src="proyectos/teleton/big01.jpg" width="360" height="194" alt="" border="0" /></a></li>
<li><a href="#"><img src="proyectos/teleton/big01.jpg" width="360" height="194" alt="" border="0" /></a></li>
<li><a href="#"><img src="proyectos/teleton/big01.jpg" width="360" height="194" alt="" border="0" /></a></li> 
</ul> 
</div>


</section><!--carrouselCasosContainer  -->

<section id="textosCasosContainer">
<article>
<div id="textosCasos">
<h2>Nombre del servicio</h2>
    <h1>Nombre del proyecto</h1>
	<h3>País</h3>
    <p class="resumenCasos">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dignissim, lectus sit amet congue molestie, sapien lectus mollis leo, sit amet egestas ipsum nisi id mauris. Praesent fermentum lorem id.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin lacus libero, mollis vel condimentum in, mollis sit amet felis. Proin porta imperdiet nunc in convallis. Vestibulum augue mauris, ultrices et volutpat a, gravida at metus. Aliquam vitae mi lectus, vel malesuada ipsum. Morbi sit amet augue at eros dictum tempor sit amet ut erat. Sed ullamcorper tempor felis, quis lobortis lectus pretium quis. Etiam vehicula posuere vestibulum. Morbi rhoncus dolor sit amet lacus malesuada adipiscing. Praesent dapibus convallis felis, sed interdum risus volutpat nec. Morbi luctus, lectus a viverra elementum, ante erat gravida odio, eget ultricies eros nunc id lacus. Aliquam sed sem sapien. Ut eu massa odio, non mattis diam. Etiam eu urna et felis sodales cursus nec sit amet neque. Sed metus arcu, vestibulum non blandit non, dapibus id nisi.</p>
    <a href="#"> url del sitio</a>
    </div><!--textosCasos -->
    </article>
    
    <aside>
    <div id="socialesCasos">
    <p>
    <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="Interalia" data-related="Proyecto Chevrolet" data-lang="en">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>  </p>
<script src="http://connect.facebook.net/es_LA/all.js#xfbml=1"></script><fb:like href="interalia.net/proyectox" show_faces="false" id="megusta" width="120" layout="button_count" ></fb:like> 
       </div><!--socialesCasos -->
       </aside>
    </section><!--textosCasosContainer  -->
</div><!--rightColCasosContainer  -->
</div><!--rightColCasos  -->
</div><!--contentContainer  -->




<!--footer -->
<footer id="footerContainer">
<div class="rowFooterTop">
  <div class="leftColFooter"><script src="http://connect.facebook.net/es_LA/all.js#xfbml=1"></script><fb:like href="facebook.com/interalia.net" show_faces="false" id="megusta" width="550"></fb:like> </div><!--leftColFooter -->
  <div class="rightColFooter"><a href="#">Versión Mobile</a></div><!--rightColFooter -->
</div><!--rowFooterTop -->
<div class="rowFooterBottom">
  <div class="leftColFooter">+52 (55) 5553-2010</div><!--leftColFooter -->
  <div class="rightColFooter">1997-2011 Derechos Reservados</div><!--rightColFooter -->
</div><!--rowFooterTop -->


	</div>

<!--footerContainer -->



<!--contentContainer -->
</div>

</body>
</html>
