<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Casos</title>

<!-- estilos sitio -->
    <link rel="stylesheet" type="text/css" href="css/flexible.css" media="all" />
    
   <link rel="stylesheet" href="scripts/imageflow/imageflow.css" type="text/css" />
     <script type="text/javascript" src="scripts/imageflow/imageflow.js"></script>

</head>

<body style="background-color: #FFF">

<div id="overContainer">

<span class="overServicio">Nombre del servicio</span><br />
<span class="overProyecto"><a href="casos.html?p=1.1.1.1">Nombre del proyecto 1</a></span><br />
<span class="overPais">País</span><br /><br /> 

<div id="target_1" class="imageflow">
<img src="proyectos/teleton/big01.jpg" longdesc="proyectos/teleton/big01.jpg" width="360" height="194" alt="" />
<img src="proyectos/teleton/big01.jpg" longdesc="proyectos/teleton/big01.jpg" width="360" height="194" alt="" />
<img src="proyectos/teleton/big01.jpg" longdesc="proyectos/teleton/big01.jpg" width="360" height="194" alt="" />
<img src="proyectos/teleton/big01.jpg" longdesc="proyectos/teleton/big01.jpg" width="360" height="194" alt="" />
<img src="proyectos/teleton/big01.jpg" longdesc="proyectos/teleton/big01.jpg" width="360" height="194" alt="" />
<img src="proyectos/teleton/big01.jpg" longdesc="proyectos/teleton/big01.jpg" width="360" height="194" alt="" />
<img src="proyectos/teleton/big01.jpg" longdesc="proyectos/teleton/big01.jpg" width="360" height="194" alt="" />
<img src="proyectos/teleton/big01.jpg" longdesc="proyectos/teleton/big01.jpg" width="360" height="194" alt="" />
<img src="proyectos/teleton/big01.jpg" longdesc="proyectos/teleton/big01.jpg" width="360" height="194" alt="" />
<img src="proyectos/teleton/big01.jpg" longdesc="proyectos/teleton/big01.jpg" width="360" height="194" alt="" />
     </div>  
     

</div><!--overContainer -->


</body>
</html>
