<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Interalia</title>

<!-- estilos sitio -->
    <link rel="stylesheet" type="text/css" href="css/flexible.css" media="all" />
     <link rel="stylesheet" type="text/css" href="css/accordion.css" media="all" />
     <!--320  mobile-->
    <link rel="alternate stylesheet" type="text/css" href="css/320.css" title="320"/>
    
 
<!-- ajuste  columnas -->
  <script type="text/javascript" src="scripts/event_listeners.js"></script>
  <script type="text/javascript" src="scripts/resolution.js"></script>
    
    <link rel="SHORTCUT ICON" href="images/favicon.ico"/>
    
    <meta name="keywords" content="Interalia">
	<meta name="description" content="Interalia">

	<meta name="robots" content="index,follow">
	<meta name="ROBOTS" content="all">
	<meta name="Googlebot" content="all">
	<meta name="Author" content=" Desarrollado por Interalia Digital">

</head>
<body>
<!--<center> -->
<div  id=SOLUCIONES>

<!--header -->
<header id="headerContainer">
 <div class="leftCol">
  <!--  <div class="leftContent"> -->
      <div id="logoInteralia"><a href="index.html"  title="Interalia :: Soluciones interactivas"></a></div>
      <!--logoInteralia -->
      <div id="navContainer">
        <div id="mainav">
        <nav>
          <ul>
            <li id="mainav1"><a href="index.html" title="Inicio">Inicio</a></li>
            <li id="mainav2"><a href="casos.html?p=1.1.1.1" title="Casos">Casos</a></li>
            <li id="mainav3"><a href="soluciones.html" title="Soluciones">Soluciones</a></li>
            <li id="mainav4"><a href="contacto.html" title="Contacto">Contacto</a></li>
           <li id="mainav5"><a href="talento.html" title="Tenemos y queremos a los mejores">Búsqueda de talento</a></li>
          </ul>
          </nav>
        </div>
        <!--mainav -->
      </div>
      <!--navContainer -->
  <!--  </div> -->
    <!--leftContent -->
  </div>
  <!--leftCol -->
  <div class="rightCol">
    <div  class="rightContent">
      <div id="menuExtras">
<script src="http://connect.facebook.net/es_LA/all.js#xfbml=1"></script><fb:like href="facebook.com/interalia.net" show_faces="false" id="megusta" width="120" layout="button_count" ></fb:like> 
      </div>
      <!--menuExtras -->
    </div>
    <!--rightContent -->
  </div>
  <!--ightCol -->
</header>
<!--headerContainer -->


<!--contenido -->

<div id="contentContainer">
<div class="leftColSol">
<div id="infoContainerLeft">

 <p class="enfasis">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dignissim, lectus sit amet congue molestie, sapien lectus mollis leo, sit amet egestas ipsum nisi id mauris. Praesent fermentum lorem id.</p>
 <img src="images/soluciones1.jpg" width="600" height="359" /></div><!--infoContainer -->
</div><!--leftColSol  -->


<div class="rightColSol">
<div id="infoContainerRight">
<h2>Nombre del servicio</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin lacus libero, mollis vel condimentum in, mollis sit amet felis. Proin porta imperdiet nunc in convallis. Vestibulum augue mauris, ultrices et volutpat a, gravida at metus. Aliquam vitae mi lectus, vel malesuada ipsum. Morbi sit amet augue at eros dictum tempor sit amet ut erat. Sed ullamcorper tempor felis, quis lobortis lectus pretium quis. Etiam vehicula posuere vestibulum. </p>
 <h2>Nombre del servicio</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin lacus libero, mollis vel condimentum in, mollis sit amet felis. Proin porta imperdiet nunc in convallis. Vestibulum augue mauris, ultrices et volutpat a, gravida at metus. Aliquam vitae mi lectus, vel malesuada ipsum. Morbi sit amet augue at eros dictum tempor sit amet ut erat. Sed ullamcorper tempor felis, quis lobortis lectus pretium quis. Etiam vehicula posuere vestibulum. </p>
 <h2>Nombre del servicio</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin lacus libero, mollis vel condimentum in, mollis sit amet felis. Proin porta imperdiet nunc in convallis. Vestibulum augue mauris, ultrices et volutpat a, gravida at metus. Aliquam vitae mi lectus, vel malesuada ipsum. Morbi sit amet augue at eros dictum tempor sit amet ut erat. Sed ullamcorper tempor felis, quis lobortis lectus pretium quis. Etiam vehicula posuere vestibulum. </p>
 <h2>Nombre del servicio</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin lacus libero, mollis vel condimentum in, mollis sit amet felis. Proin porta imperdiet nunc in convallis. Vestibulum augue mauris, ultrices et volutpat a, gravida at metus. Aliquam vitae mi lectus, vel malesuada ipsum. Morbi sit amet augue at eros dictum tempor sit amet ut erat. Sed ullamcorper tempor felis, quis lobortis lectus pretium quis. Etiam vehicula posuere vestibulum. </p>


</div><!--infoContainer  -->
</div><!--rightColSol  -->
</div><!--contentContainer  -->




<!--footer -->
<footer id="footerContainer">
<div class="rowFooterTop">
  <div class="leftColFooter"><script src="http://connect.facebook.net/es_LA/all.js#xfbml=1"></script><fb:like href="facebook.com/interalia.net" show_faces="false" id="megusta" width="550"></fb:like> </div><!--leftColFooter -->
  <div class="rightColFooter"><a href="#">Versión Mobile</a></div><!--rightColFooter -->
</div><!--rowFooterTop -->
<div class="rowFooterBottom">
  <div class="leftColFooter">+52 (55) 5553-2010</div><!--leftColFooter -->
  <div class="rightColFooter">1997-2011 Derechos Reservados</div><!--rightColFooter -->
</div><!--rowFooterTop -->


	</div>

<!--footerContainer -->



<!--contentContainer -->
</div>

</body>
</html>
