{% load i18n cms_tags menu_tags%}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Interalia - Agencia digital de Mercadotecnia Interactiva y Medios Sociales</title></title>
<meta name="description" content="Agencia mexicana de Publicidad y Online Marketing, especialista en campa&ntilde;as marketing en internet" /
<meta name="keywords" content="Agencia interactiva, agencia Internet México, desarrollo front end, desarrollo back end, agencia online, marketing digital, diseño paginas web, marketing online, email marketing, gestion redes sociales, estrategias WOM" />
<meta name="sitedomain" content="www.interalia.net" />
<meta name="country" content=" Mexico" />
<meta name="Language" content="Spanish" />
<meta http-equiv="Expires" content="never" />
<meta name="distribution" content="Global" />
<meta name="Robots" content="INDEX,FOLLOW" />
<meta name="RATING" content="GENERAL" />
<meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
<meta name="msvalidate.01" content="6A5E709E79078E003E6DF7F132CB2830" />
<meta name="Author" content=" Desarrollado por Interalia Digital">
<meta name="y_key" content="c6c2088ee058d4f3"/>
<meta name="google-site-verification" content="XS4ziv1iGWRyiDXEyKszkyePQj1ko2yQrI_zTy_NSWU" />


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
<!-- estilos sitio -->
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/flexible.css" media="all" />
     <!--320  mobile-->
	 <link rel="alternate stylesheet" type="text/css" href="{{MEDIA_URL}}css/320.css" title="320"/>
<!-- ajuste  columnas -->
<script type="text/javascript" src="{{MEDIA_URL}}js/event_listeners.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/resolution.js"></script> 
<link rel="SHORTCUT ICON" href="{{MEDIA_URL}}img/favicon.ico"/>


	{% plugins_media %}
	{% block extrahead%}
	{% endblock %}
</head>
<body>

<!--<center> -->
<div  id=INICIO>

<!--header -->
<header id="headerContainer">
  <div class="leftCol">
      <div id="logoInteralia"><a href="/"  title="Interalia :: Soluciones interactivas"></a></div>
      <!--logoInteralia -->
      <div id="navContainer">
        <div id="mainav">
			<nav>
				{% spaceless %}
				<ul> 
					 {% show_menu 0 0 100 100 %}
				</ul>
				{% endspaceless %}
          </nav>

        </div>
        <!--mainav -->
      </div>
      <!--navContainer -->
  </div>
  <!--leftCol -->
{%block right-header %}
  <div class="rightColHeader">
    <div  class="rightContent">
    
      <div id="menuExtras">
	  <script src="http://connect.facebook.net/es_LA/all.js#xfbml=1"></script><fb:like href="facebook.com/interalia.net" show_faces="false" id="megusta" width="120" layout="button_count"></fb:like> 
      </div>
      <!--menuExtras -->
    </div>
    <!--rightContent -->
  </div>
  <!--ightCol -->
{% endblock %}
</header>
<!--headerContainer -->


<!--contenido -->

{% block intro-content %}
{% endblock %}

<div id="contentContainer">
	{% block content %}
  {% endblock content %}
</div> <!--contentContainer -->


<!--footer -->
<footer id="footerContainer">
<div class="rowFooterTop">
	<div class="leftColFooter">
<script src="http://connect.facebook.net/es_LA/all.js#xfbml=1"></script><fb:like href="facebook.com/interalia.net" show_faces="false" id="megusta" width="550"></fb:like>
 </div><!--leftColFooter -->
  <div class="rightColFooter"><a href="#">Versión Mobile</a></div><!--rightColFooter -->
</div><!--rowFooterTop -->
<div class="rowFooterBottom">
  <div class="leftColFooter">+52 (55) 5553-2010</div><!--leftColFooter -->
  <div class="rightColFooter">1997-2011 Derechos Reservados</div><!--rightColFooter -->
</div><!--rowFooterTop -->


  </footer>
<!--footerContainer -->
<!--contentContainer -->
</div>

</body>
</html>
