{% extends "base.html" %}
{% load i18n cms_tags %}

{% block extrahead %}
<!-- over bubbles -->
<link href="{{MEDIA_URL}}css/jquery.bubblepopup.v2.3.1.css" rel="stylesheet" type="text/css" />
<script src="{{MEDIA_URL}}js/jquery.bubblepopup.v2.3.1.min.js" type="text/javascript"></script>
<script type="text/javascript">
<!--
$(document).ready(function(){
		$('.button').CreateBubblePopup({
									   selectable: false,
									   alwaysVisible: true,
										position: 'top',
										align: 'left',
										width: '680px',
										height: '255px',
										tail:{align:'left',hidden: true},
										innerHtml: '<img src="{{MEDIA_URL}}img/loading.gif" style="border:0px; vertical-align:middle; margin-right:10px; display:inline;" />cargando',
										innerHtmlStyle: { color:'#FFFFFF', 'text-align':'center' },
										themeName: 'azure',
										themePath: '{{MEDIA_URL}}img/jquerybubblepopup-theme'
								  	  });
		// add a mouseover event for the "button" element...
	$('.button').mouseover(function(){
			var button_id = this.id;
			var	slug = button_id.split("id-")[1];
			var button = $(this);
			var data = '<iframe src="{% url portafolio-small %}?slug='+ slug +'" marginwidth="0" marginheight="0"  vspace="0" hspace="0"  style="width:99%; background-color:#FFF" allowtransparency="true"  scrolling="no"  height="250" frameborder="0">...</iframe>'
			button.SetBubblePopupInnerHtml(data);
	}).click(function(){
			var button_id = this.id;
			var	slug = button_id.split("id-")[1];
			document.location= "{% url portafolio-redirect %}?slug=" + slug;
	}); //end function
}); //end mouseover event

//-->
</script>
{% endblock %}
{% block content %}
<div class="leftCol">
    <section id="flash">
        <div id="flashContainer">
            {% block area_superior %}
                {% with "640" as width %}
                    {% placeholder area_superior %}
                {% endwith %}
            {% endblock %}
        </div>
        <!--flashcontainer  -->
    </section>
    <section id="moduloCasos"> 
        <div id="moduloContainer">
            {% block abajo_izquierda%}
            {% with "220" as with %}
                    {% placeholder abajo_izquierda %}
                {% endwith %}
            {% endblock %}
          <!-- fin modulo8 -->
        </div>
        <!--moduloContainer -->
      </section> 
</div>
  <!--leftCol -->
<aside id="columnaPracticas">
  <div class="rightColContent">
	 <div  class="rightContent">
		{% block columna_derecha %}
			{% with "640" as width %}
				{% placeholder columna_derecha %}
			{% endwith %}
		{% endblock %}
    </div>
    <!--rightContent -->
  </div>
  <!--rightColContent -->
</aside>
{% endblock %}
