{% extends "base.html" %}
{% load i18n cms_tags %}

{% block right-header%}

<div class="rightCol">
    <div class="rightContent">
      <div id="menuExtras">
      </div>
      <!--menuExtras -->
    </div>
    <!--rightContent -->
  </div>
{% endblock %}

{%block content %}
<div class="leftColSol">
	<div id="infoContainerLeft">
		{% block columna_izquierda %}
				{% placeholder columna_izquierda %}
		{% endblock %}
	 </div><!--infoContainer -->
</div><!--leftColSol  -->
<div class="rightColSol">
	<div id="infoContainerRight">
		{% block columna_derecha %}
				{% placeholder columna_derecha %}
		{% endblock %}
	</div><!--infoContainer  -->
</div><!--rightColSol  -->
{% endblock %}


