{% extends "base.html"%}

{%block right-header %}
<div class="rightCol">
    <div  class="rightContent">
      <div id="menuExtras">
<script src="http://connect.facebook.net/es_LA/all.js#xfbml=1"></script><fb:like href="facebook.com/interalia.net" show_faces="false" id="megusta" width="120" layout="button_count" ></fb:like> 
      </div>
      <!--menuExtras -->
    </div>
    <!--rightContent -->
  </div>
  <!--ightCol -->

{% endblock %}

{% block intro-content %}
  <div id="introContainer">
    <p class="enfasisAzul">¡Queremos a los mejores!</p>
      <p> Como una de las mejores empresas de Internet en México ofrecemos a la gente con talento crecimiento y desarrollo profesional. </p>
  </div>
{% endblock %}
{% block content %}
  <div id="primeraCol">
		<div id="categorias">
		   <h2>
			   <img src="{{MEDIA_URL}}img/talento_aplica.jpg" width="110" height="73" hspace="10" align="left" />
			   Aplica tu talento
			</h2>
			<strong>Profesionistas</strong><br />
	Estamos continuamente buscando a los mejores en: 
	Diseño Web, Programación AS3, 
	C++, PHP, J2EE, comunicación y publicidad.
		</div><!-- categorias -->

		<div id="categorias">
				<h2>
					<img src="{{MEDIA_URL}}img/talento_desarrolla.jpg" width="110" height="73" hspace="10" align="left" />
				Desarrolla tu talento
				</h2>
		<strong>Trainees</strong><br />
	Para formar parte de Interalia tienes que estar en
	el último año de la carrera o ser recién graduado de las áreas en qué solicitamos.
		</div><!--categorias -->
    </div><!--primeraCol -->
    
    <div id="segundaCol">
		<div id="categorias"> 
			<p><strong>Ofertas actuales</strong></p>
			{%for i in opens %}
			<a href="{% url job-detail i.opening.slug %}">{{ i.opening.title }}</a><br />
			{% endfor %}
		</div><!--categorias -->
	</div><!--segunda -->
{% endblock %}
<!--contentContainer  -->


